body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: rgb(50,50,50);
    color: #ddd;
    scroll-behavior: smooth;
  }

#summary ,#news,#About-us{
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  padding-top: 50px;
  background-color: rgb(45,45,45);
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  padding-left: 35px;
  padding-right: 35px;
}

#news{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
}

  header{
    position: absolute;
    width: 100%;
  }

.web-name{
    font-size: 16px;
    display: inline;
    float: left;
    color: #ddd;
    font-family: inherit;
    text-decoration: none;
    text-align: center;
}

  .navbar {
    overflow: hidden;
    background-color: rgb(30,30,30);
    position:fixed;
    min-width: 100%;
    top: 0;
  }
  
  .navbar .a {
    float:left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 25px 15px;
    text-decoration: none;
  }

  .logo{
    float: left;
    padding: 15px 15px;
}
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn  {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 25px 10px;
    margin-top: 15px ;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /*.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }*/
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #contact{
    margin-top: 20px;
    background-color: rgb(30,30,30);
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }